<!--<section class="slider_container m-5 p-10">
    <div class="swiper-container">
        <swiper class="swiper-slide" #swiper [virtual]="true" [config]="swiperConfig">

            <ng-template swiperSlide>
                <div class="slider_container">
                    <img class="imagen" src="../../assets/img/33700bd4ab71b0fb04a522ec92a2e0ee.jpg">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slider_container">
                    <img class="imagen"
                        src="../../assets/img/378713_KTM MY22 125 SX PP EU _ 450 SX-F Dream Bike EU - Cat B.jpg">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slider_container">
                    <img class="imagen" src="../../assets/img/depositphotos_73888147-stock-photo-enduro-bike-rider.jpg">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slider_container">
                    <img class="imagen" src="../../assets/img/istockphoto-537445040-612x612.jpg">
                </div>
            </ng-template>
        </swiper>
    </div>
    <div (click)="sliderA_next()" class="swiper-button-next"></div>
    <div (click)="sliderB_prev()" class="swiper-button-prev"></div>
</section>
[config]="swiperConfig"-->