<br>
<h1 class="">Perfil del Usuario</h1>

<pre *ngIf="auth.userProfile$ |async as profile">
    <code>{{profile | json}}</code>
</pre>
<button type="submit" class="ml-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full 
sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    routerLink="/">Back</button>
<!--
esperar a que el obserbable (userProfile$) responda,
 viene con el perfil del usuairo por eso usa el async y toda esa respuesta esta asignada al profile
el profile es el producto del obserbable-->